
<!--  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--    Launch demo modal-->
<!--  </button>-->

<ng-template #popup let-modal>
<!--   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <div class="modal-dialog modal-dialog-centered m-0">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body text-center">
          Посмотрите наши чайные коллекции
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" data-bs-dismiss="modal" routerLink="/products" (click)="close()">Смотреть</a>
        </div>
      </div>
    </div>
<!--   </div> -->
</ng-template>
