* {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  font-style: normal;
  color: #000;
}

.header, .footer {
  background: #F8F9FA;
}

.header-container {
  max-width: 1920px;
  height: 60px;
  margin: 0 auto;
  padding: 15px 12px;
  box-sizing: border-box;

  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*justify-items: center;*/
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 15px;

  margin: 0 0 0 25px;
  padding: 0;
}

.menu-item {
  list-style: none;
}

nav-link {
  /*text-decoration: none;*/
  color: rgba(0, 0, 0, 0.60);
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  color: rgba(0, 0, 0);
}

.search {
  width: 194px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  box-sizing: border-box;
  background: #FFF;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.search::placeholder {
  color: rgba(0, 0, 0, 0.60);
  font-size: 16px;
  font-weight: 400;
}

.search-button {
  border-radius: 4px;
  border: 1px solid #007BFF;
  box-sizing: border-box;

  color: #007BFF;
  font-size: 16px;
  font-weight: 400;
  background: #F8F9FA;
}

.search-button:hover,
.search-button:active,
.search-button:focus-visible {
  background-color: #007BFF;
  border-color: #007BFF;
  color: #F8F9FA;
}

.main {
  background: #FFF;
}

.main-container {
  max-width: 1348px;
  margin: 0 auto;
  padding: 72px 15px 48px 15px;
}

.slick-next {
  right: 13px;
}

.slick-prev {
  left: 13px;
  z-index: 999;
}

.slick-next:before,
.slick-prev:before {
  content: '';
  display: block;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-next:before {
  background-image: url("../assets/images/next.png");
  width: 42px;
}

.slick-prev:before {
  background-image: url("../assets/images/prev.png");
  width: 38px;
}

.slick-next,
.slick-prev {
  padding: 0;
  color: #076BFF;
  border-radius: 50%;
  border: 1px solid #076BFF;
  background: #FFFFFF;
  width: 40px;
  height: 40px;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover, .slick-next:focus {
  color: #076BFF;
  background: #FFFFFF;
}

.carousel-item-temp {
  max-width: 1318px;
  max-height: 640px;
}

.img-width {
  width: 100%;
  height: auto;
}


.h2-title {
  margin-top: 72px;
  margin-bottom: 51px;
  text-align: center;

  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.main-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 27px;
  column-gap: 24px;
}

.card {
  max-width: 416px;
  height: 362px;
  border-radius: 4px;
  border: 1px solid #E3E3E3;
  background: #FFF;
  box-sizing: border-box;
  color: #000;
}

.card-img-top {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 4px 4px 0 0;
}

.card-body {
  padding: 20px 24px;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
}

.btn-primary {
  border-radius: 4px;
  background: #076BFF;
  box-sizing: border-box;
  height: 38px;
}

.btn-primary {
  padding: 7px 0;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  width: 170px;
}


.btn-color {
  --s: 156px;   /* the size of the image */
  --b: 3px;     /* the border thickness*/
  --g: 4px;    /* the gap */
  --c: rgba(7, 107, 255, 0.57); /* the color */

  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid transparent;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: .3s;
}

.btn-color:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}


#accordion {
  max-width: 856px;
  margin: 0 auto 16px auto;
}

#accordion h3 {
  margin: 8px 0;
  border-radius: 10px;
  min-height: 69px;
  background: linear-gradient(0deg, #076BFF 0%, #007BFF 100%);

  color: #FFF;
  font-size: 16px;
  font-weight: 700;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px 0 28px;
}

#accordion h3:last-child {
  margin-bottom: 0;
}

#accordion h3:first-child {
  margin-top: 0;
}

.accordion-item {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.ui-state-active .ui-icon-triangle-1-s {
  background-image: url("../assets/images/svg/next.svg");
  background-position: center;
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}

.ui-icon {
  transition: transform 0.5s
}

.ui-icon-triangle-1-e,
.ui-state-hover .ui-icon-triangle-1-e {
  background-image: url("../assets/images/svg/next.svg");
  background-position: center;
  width: 20px;
  height: 20px;
}

.row {
  max-width: 660px;
  margin: 0 auto;
  padding: 0;
}

.input-field {
  padding: 6px 12px;
}

.btn-popup {
  margin-top: 18px;
  position: relative;
  will-change: transform;
}

.btn-popup::before,
.btn-popup::after {
  position: absolute;
  top: 0;
  left: 6px;
  content: '';
  display: block;
  background-color: #076BFFFF;
  transition: all 250ms ease-in-out;
}

.btn-popup::before {
  width: 2px;
  height: 36px;
  box-shadow: 150px 0 #076BFFFF;
}

.btn-popup::after {
  height: 2px;
  width: 158px;
  box-shadow: 0 30px #076BFFFF;
}

.btn-popup:hover::before {
  left: -11px;
  box-shadow: 190px 0 #076BFFFF;
}

.btn-popup:hover::after {
  top: -10px;
  box-shadow: 0 56px #076BFFFF;
}


.popup {
  width: 100%;
  height: 100%;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: fixed;
  background-color: rgb(255 255 255 / 80%);
  z-index: 99999999;
  top: 0;
  left: 0;
  padding: 50px;
}


.footer {
  padding: 19px 15px;
  height: 56px;
}

.footer-text {
  color: rgba(0, 0, 0, 0.60);
  font-size: 16px;
  font-weight: 400;
}


